
  <!-- Sidebar -->
  <div class="w-48 bg-[#697565] text-white shadow-lg flex flex-col h-screen">
    <div class="flex justify-center items-center p-6">
      <img
        src="/images/logo_umc.png"
        alt="Black triangular logo with a stylized play button shape"
        class="w-10 h-auto"
      />
    </div>
    <div class="flex-1 px-4 overflow-y-auto">
      <nav class="flex flex-col space-y-4 text-sm font-normal">
        <a
          href="#"
          class="bg-[#5a6356] rounded-md py-2 px-6 block text-center cursor-pointer"
          >Dashboard</a
        >
        <a
          href="#"
          class="py-2 px-6 block cursor-pointer hover:bg-[#5a6356] rounded-md"
          >Pemesanan</a
        >
        <a
          href="#"
          class="py-2 px-6 block cursor-pointer hover:bg-[#5a6356] rounded-md"
          >Status Peminjaman</a
        >
        <a
          href="#"
          class="py-2 px-6 block cursor-pointer hover:bg-[#5a6356] rounded-md"
          >Pembayaran</a
        >
        <a
          href="#"
          class="py-2 px-6 block cursor-pointer hover:bg-[#5a6356] rounded-md"
          >Feedback</a
        >
      </nav>
    </div>
  </div>