<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>- Dashboard -</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <style>
    .bg-custom-dark {
      background-color: #181C14;
    }

    .bg-custom-green {
      background-color: #697565;
    }

    .bg-custom-green-dark {
      background-color: #5a6356;
    }

    .focus\:ring-custom-green:focus {
      --tw-ring-color: rgba(105, 117, 101, 0.5);
    }
  </style>
</head>

<body class="flex min-h-screen bg-[#f5f0e9] ">

  <%- include('../partials/sidebar') %>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <%- include('../partials/header', { userType: 'admin' }) %>

    <!-- Content -->
    <main class="flex-1 px-10 py-8 overflow-auto">
      <div class="flex h-[calc(100vh-60px)]">
        <div class="w-[200px] text-white">
        <div
          <div class="flex gap-20 mb-10">
            <div class="bg-white/90 p-8 rounded-lg text-center min-w-[200px] shadow">
              <div class="text-sm text-gray-500 mb-2">Total Alat</div>
              <div class="text-4xl font-bold text-gray-800">20</div>
            </div>
            <div class="bg-white/90 p-8 rounded-lg text-center min-w-[200px] shadow">
              <div class="text-sm text-gray-500 mb-2">Total Jasa</div>
              <div class="text-4xl font-bold text-gray-800">7</div>
            </div>
            <div class="bg-white/90 p-8 rounded-lg text-center min-w-[200px] shadow">
              <div class="text-sm text-gray-500 mb-2">Sedang dipinjam</div>
              <div class="text-4xl font-bold text-gray-800">4</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </div>

</body>

</html>

