<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>- Dashboard -</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />
  <style>
        .bg-custom-dark { background-color: #181C14; }
        .bg-custom-green { background-color: #697565; }
        .bg-custom-green-dark { background-color: #3C3D37; }
        .focus\:ring-custom-green:focus { --tw-ring-color: rgba(105, 117, 101, 0.5); }
    </style>
</head>
<body class="flex min-h-screen bg-[#F0EAE0] ">

  <%- include('../partials/sidebar') %>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <%- include('../partials/header') %>

    <!-- Content -->
    <main class="flex-1 px-10 py-8 overflow-auto">
  <h1 class="font-semibold text-lg mb-6 text-[#3C3D37] mb-6 text-center md:text-left">
    Selamat Datang!
  </h1>
  <p class="text-[#3C3D37] font-normal text-base max-w-3xl mb-8 mx-auto md:mx-0 text-center md:text-left">
    Di UMCental ini, kami memahami bahwa setiap momen dan ide kreatif layak
    untuk diabadikan dengan cara terbaik. Kami menyediakan penyewaan
    peralatan dan layanan profesional di bidang fotografi dan videografi,
    yang cocok untuk berbagai kebutuhan, mulai dari proyek pribadi hingga
    acara besar yang diadakan oleh organisasi atau kampus.
  </p>
  <h2 class="font-semibold text-lg mb-6 text-[#3C3D37] mb-4 max-w-3xl mx-auto md:mx-0">
    About Us
  </h2>
  <div class="bg-custom-green-dark rounded-full max-w-3xl px-8 py-6 text-[#d1d9ce] font-normal text-base mx-auto md:mx-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget duis mi
    nunc bibendum. Tellus elementum nec lorem eget dictumst. Risus in
    gravida eu, enim lorem. Sed consequat ut suspendisse eros. Nunc nunc
    accumsan, viverra enim. Mi.
  </div>
</main>
    <%- include('../partials/footer') %> 
  </div>
</body>
</html>